@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

:root {
  --header-height: 3rem;

  --hue: 330;
  --sat: 50%;
  --lightness: 90%;
  --first-color: hsl(var(--hue), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #FFF;

  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .625rem;

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 0rem 0 2rem; /* Updated padding */
  overflow: hidden;
  text-align: center;
  min-height: calc(100vh - var(--header-height));
}

main {
  padding-top: calc(var(--header-height) + 20px); 
}

h1{
  padding-bottom: 10%;
}

h2{
  padding-bottom: 10%;
}


/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  z-index: var(--z-fixed);
  transition: .4s;
  margin-bottom: 0; 
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__img {
  width: 130px;
  height: 20px;
}

.nav__logo {
  color: var(--title-color);
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .4s;
  }
}

.nav__list, 
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  font-weight: 6000;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: var(--tiny-font-size);
  display: none;
}

.nav__icon {
  font-size: 1.5rem;
}

.nav__menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0; 
  background-color: var(--container-color);
  z-index: var(--z-fixed);
}

.active-link {
  position: relative;
  color: rgb(255, 164, 211);
  transition: .3s;
}

.active-link::before{
  content: '';
  position: absolute;
  bottom: -.5rem;
  width: 4px;
  height: 4px;
  background-color: rgb(255, 164, 211);
  border-radius: 50%;
} */

.scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 7rem 0 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem); 
  }
  .nav__img {
    display: none;
  }
  .nav__icon {
    display: none;
  }
  .nav__name {
    font-size: var(--normal-font-size);
  }
  .nav__link:hover {
    color: var(--first-color);
  }


.active-link::before{
      bottom: -.75rem;
  } 
}

@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}
.home-content {
  text-align: center;
}

.home-title {
  color: var(--title-color);
  font-size: 2rem;
  margin-bottom: 10px;
}

.home-subtitle {
  color: #000000;
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 20px;
}

.feature-boxes {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 20px; 
}

.feature-box {
  background-color: rgba(255, 163, 202);
  color: #000000;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-box strong {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.feature-box p {
  text-align: center;
}

/*=============== MAKEUP BAG ===============*/
.dropdown {
  position: relative;
  display: inline-block;
  padding: 5%;
}

.dropbtn {
  background-color: #000000;
  color: white;
  padding: 10px 30px;
  font-size: var(--normal-font-size);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropbtn::after {
  content: '\25BE'; 
  margin-left: 8px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease-in-out;
}

.dropdown-content a {
  color: var(--title-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.product-box {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.product-box img {
  width: 100px; 
  height: auto;
  margin-right: 20px; 
}

.product-details {
  flex: 1;
}

.product-name {
  font-weight: bold;
}

.product-expiration {
  color: #b6b5b5;
}

/*=============SETTINGS PAGE=============*/
#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.profile-picture img {
  width: 120px; 
  height: 120px;
  border-radius: 50%; 
  margin-bottom: 20px;
  margin-top: 2px;
}

.profile-info {
  margin-bottom: 12px; 
  padding-top: 6px;
  display: flex;
  flex-direction: column;
}

.profile-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px; 
}

.profile-picture button {
  margin-top: -10px;
  background: none;
  border: none;
  color: rgb(255,163,202);
  cursor: pointer;
  font-size: 14px;
  padding: 7px;
}

.remove-image-button {
  background: none;
  border: none;
  color: rgb(255,163,202);
  cursor: pointer;
  font-size: 14px; 
  padding: 0px;
}

#profile-photo {
  display: none;
}

.file-label{
  font-size: 14px;
  color: rgb(255,163,202); 
  cursor: pointer;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  margin-top: -10px; 
}

input[type="text"],
input[type="date"] {
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgb(255,163,202);
    cursor: pointer;
    transition: .3s;
    color:#FFFFFF;
    padding: 0 20px;
}

.save-changes,
.log-out {
  position: absolute;
  bottom: 75px; 
  color: rgb(255,163,202);
  cursor: pointer;
  font-size: 14px;
  padding: 7px; 
  border: 2px solid rgb(255,163,202); 
  transition: all 0.3s ease; 
}

.save-changes:hover,
.log-out:hover {
  background-color: rgb(255,163,202); 
  color: #fff; 
}

.save-changes {
  left: 5px; 
  margin-left: 110px;
  background: none;
  border: none;
}

.log-out {
  right: 5px; 
  margin-right: 110px;
  background: none;
  border: none;
}

.fa-gear{
  color: black;
}

.fa-arrow-left{
  color: black;
}

.edit-profile-container {
  position: relative;
  align-items: center;
  margin-bottom: -50px; 
}

.edit-profile-container h2 {
  color: rgb(0, 0, 0); 
}

.arrow{
  position: relative;
  top: -65px; 
  padding-right: 350px;
  font-size: 25px;
}

/*=============DISCOVER PAGE=============*/

@media (min-width: 768px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}
.section .project-container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  animation: floatWave 5s infinite alternate;
  padding: 20px;
  margin-bottom: 30px;
}
.section .project-container .project-image {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
  max-height: 250px;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.25s ease-in-out, filter 0.25s ease-in-out;
}
.section .project-container .project-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  transition: transform 0.15s ease-in-out;
}
.section .project-container .project-image:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}
.section .project-container .project-info {
  position: relative;
  z-index: 3;
  padding: 30px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  margin-top: -20px;
  flex-grow: 1;
  transition: background-color 0.25s ease-in-out;
}
.section .project-container .project-info h2 {
  margin-bottom: 10px;
  transition: color 0.25s ease-in-out;
}
.section .project-container .project-info p {
  margin-bottom: 20px;
}
.section .project-container .project-info a {
  color: rgba(255, 163, 202);
  display: inline-block;
  text-decoration: none;
}
.section .project-container .project-info a:hover {
  color: rgb(251, 215, 230);
  text-decoration: underline;
}
.section .project-container:hover .project-info {
  background-color: rgba(0, 0, 0, 0.85);
}
.section .project-container:hover h2 {
  color: rgba(255, 163, 202);
}
.section .project-container:hover {
  transform: scale(1.05);
}
.section .project-container:nth-child(odd) {
  animation: floatWave 5s infinite alternate 0.5s;
}
.section .project-container:nth-child(even) {
  animation: floatWave 5s infinite alternate 2s;
}
@keyframes floatWave {
  0% {
    transform: translateY(0) skewY(0deg);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  25% {
    transform: translateY(-5px) skewY(0.75deg);
  }
  50% {
    transform: translateY(0) skewY(0deg);
  }
  75% {
    transform: translateY(5px) skewY(-0.75deg);
  }
  100% {
    transform: translateY(0) skewY(0deg);
  }
}

/*=============== HOME PAGE ===============*/

.home-content {
  text-align: center;
}

.home-title {
  color: var(--title-color);
  font-size: 2rem;
  margin-bottom: 10px;
}

.home-subtitle {
  color: #000000;
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 20px;
}

.feature-boxes {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 20px; 
}

.feature-box {
  background-color: rgba(255, 163, 202);
  color: #000000;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-box strong {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.feature-box p {
  text-align: center;
}

/*=============PROFILE===============*/
.header__wrapper header {
  width: 100%;
  background: url("../img/bg.jpeg") no-repeat 50% 20% / cover;
  min-height: calc(100px + 15vw);
}
@media (min-width: 868px) {
  .header__wrapper .cols__container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
  }
}

.header__wrapper .cols__container .left__col {
  padding: 25px 20px;
  text-align: center;
  max-width: 350px;
  position: relative;
  margin: 0 auto;
}
@media (min-width: 868px) {
  .header__wrapper .cols__container .left__col {
    padding: 25px 0px;
  }
}
@media (min-width: 1017px) {
  .header__wrapper .cols__container .left__col {
    margin: 0;
    margin-right: auto;
  }
}

.header__wrapper .cols__container .left__col .img__container {
  position: absolute;
  top: -60px;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 1016px) {
  .header__wrapper .cols__container .right__col nav {
    flex-direction: row;
  }
}
.header__wrapper .cols__container .right__col nav ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
@media (min-width: 868px) {
  .header__wrapper .cols__container .right__col nav ul {
    flex-direction: row;
    gap: 30px;
  }
}
.header__wrapper .cols__container .right__col nav ul li a {
  text-transform: uppercase;
  color: #818181;
}
@media (min-width: 1016px) {
  .header__wrapper .cols__container .right__col nav button {
    margin-top: 0;
  }
}
.header__wrapper .cols__container .right__col .photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  height: 100%;
  object-fit: cover;
}

@media (min-width: 868px) {
  .header__wrapper .cols__container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
  }
  .header__wrapper .cols__container .left__col {
    padding: 25px 0px;
  }
  .header__wrapper .cols__container .right__col nav ul {
    flex-direction: row;
    gap: 30px;
  }
  .header__wrapper .cols__container .right__col .photos {
    height: 365px;
    overflow: auto;
    padding: 0 0 30px;
  }
}

@media (min-width: 1017px) {
  .header__wrapper .cols__container .left__col {
    margin: 0;
    margin-right: auto;
  }
  .header__wrapper .cols__container .right__col nav {
    flex-direction: row;
  }
  .header__wrapper .cols__container .right__col nav button {
    margin-top: 0;
  }
}

/*=============HOME ITEMS===============*/

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__title {
  padding-bottom: 0.5rem;
  margin-bottom: 4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
  position: relative;
}

.section__title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 3px;
  width: 75px;
  background-color: var(--text-dark);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: "Montserrat", sans-serif;
}

.musthave__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.musthave__card {
  display: grid;
  gap: 0.5rem;
  color: var(--text-dark);
}

.musthave__card h4 {
  font-size: 1rem;
  font-weight: 600;
}

.musthave__card p {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.musthave__card p del {
  font-weight: 400;
  color: var(--text-light);
}


@media (width < 900px) {
  

  .musthave__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

}

@media (width < 600px) {

  .musthave__grid {
    grid-template-columns: repeat(2, 1fr);
  }

}
