*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: linear-gradient(to bottom, white 0%, rgb(255, 163, 202) 100%);    
    padding: 60px;
}

html, body{
    height: 100%;
}

.container{
    background: white;
    width: 450px;
    padding: 1.5rem;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.213);
    padding: 30px;
}

form{
    margin: 0 2rem;
    padding: 10px;
}

.form-title{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 1.3rem;
    margin-bottom: 0.4rem;
}

input{
    color: inherit;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid grey;
    padding-left: 1.5rem;
    font-size: 1rem;
}

.input-group{
    padding: 1% 0;
    position: relative;
}

.input-group i{
    position: absolute;
    color: black;
}

input:focus{
    background-color: transparent;
    outline: transparent;
    border-bottom: 2px solid hsl(328, 53%, 18%)
}

input::placeholder{
    color: transparent;
}

label{
    color: grey;
    position: relative;
    cursor: auto;
    left: 1.2em;
    top: -1.3em;
    transition: 0.3s ease all;
}

input:focus~label,input:not(:placeholder-shown)~label{
    top: -3em;
    color:hsl(0, 0%, 0%);
    font-size: 15px;
}

.recover{
    text-align: center;
    font-size: 15px;
    margin-bottom: 1rem;
}

.recover a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.recover a:hover{
    color: rgb(255, 163, 202);
    text-decoration: underline;
}

.btn{
    font-size: 1.1rem;
    padding: 8px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background: rgb(255, 163, 202);
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover{
    background: hotpink;
}

.or{
    font-size: 1.1rem;
    margin-top: 0.5rem;
    text-align: center;
}

.icons{
    text-align: center;
    padding-top: 10px;
}

.icons i{
    color: hotpink;
    padding: 0.8rem 1.0rem;
    border-radius: 40%;
    font-size: 1.5rem;
    cursor: pointer;
    border: 2px solid rgb(255, 163, 202);
    margin: 0 15px;
    transition: 1s;
}

.icons i:hover{
    background: rgb(249, 232, 235);
    font-size: 1.6rem;
    border: 2px solid rgb(255, 163, 202);
}

.links{
    display: flex;
    justify-content: space-around;
    padding: 0.4 4rem;
    margin-top: 0.9rem;
}

button{
    color: rgb(255, 163, 202);
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
}

button:hover{
    text-decoration: underline;
    color: hotpink;
}

.image {
    text-align: center; 
    margin:30px; 
}

.image img {
    width: 50%; 
    display: block; 
    margin: 0 auto; 
}
