@font-face {
    font-family: 'Inconsolata';
    src: url('https://ggayane.github.io/css-experiments/Inconsolata-VF.ttf');
    font-weight: 275 900;
    font-stretch: 50% 200%;
  }

  html {
    animation: fadeInOut 4s forwards;
  }
  
  @keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    75% { opacity: 0.7; }
    100% { opacity: 0; }
  }

  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(white, rgb(255,163,202));
    color: rgb(0, 0, 0);
    font-family: 'Inconsolata';
  }
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw; 
    text-align: center;
    overflow-wrap: break-word; 
  }
  
  .static {
    font-size: 1.5vw;
    font-variation-settings: "wght" 900, "wdth" 200;
    text-align: center;
  }
  
  .variable {
    display: flex;
    justify-content: center;
    font-size: 20vw;
    animation: swapthings 3s infinite both cubic-bezier(0.17, 0.04, 0.04, 0.99);
  }
  
  .work {
    animation: swapthings2 3s infinite both cubic-bezier(0.17, 0.04, 0.04, 0.99);
  }
  
  @media (max-width: 600px) {
    body {
        font-size: 30vw;
    }
    .static {
        font-size: 3vw; 
    }
    .variable {
        font-size: 20vw;
    }
  }
  
  @keyframes swapthings {
    0%, 100% {
        font-variation-settings: "wght" 275, "wdth" 50;
    }
    50% {
        font-variation-settings: "wght" 900, "wdth" 200;
    }
  }
  
  @keyframes swapthings2 {
    0%, 100% {
        font-variation-settings: "wght" 900, "wdth" 200;
    }
    50% {
        font-variation-settings: "wght" 275, "wdth" 50;
    }
  }
  